* {
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#top-nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

#top-nav ul {
    margin: 15px 10px;
}

#top-nav a {
    text-decoration: none;
    font-weight: bold;
}

#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img.gamelogo {
    display: block;
    max-width: 500px;
    margin: 5px auto;
}