* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #00080f;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#top-nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
}

#top-nav ul {
    margin: 15px 10px;
    padding: 0;
}

#top-nav a {
    text-decoration: none;
    font-weight: bold;
}

#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div.gameinfo {
    margin-bottom: 20px;
}

img.gamelogo {
    max-width: 500px;
}

.gamelogo {
    margin: 5px auto;
    display: block;
}